<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Test</title>
</head>

<body>

    <header>
        <div class="">
            Logo
        </div>
        <div class="">
            navigation
        </div>
    </header>

    <main>
        <section>
            <form class="" onsubmit="return Client.handleSubmit(event)">
                <input id="url" type="text" name="input" value="" placeholder="Valid Url" required>
                <div id="error">Please enter a valid URL to an article</div>
                <input type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
            </form>
            <section>

                <section>
                    <strong>Form Results:</strong>
                    <div id="results">
                        <div id="polarity"></div>
                        <div id="pol-confidence"></div>
                        <div id="subjectivity"></div>
                        <div id="sub-confidence"></div>
                    </div>
                </section>
    </main>

    <footer>
        <p>This is a footer</p>
    </footer>

</body>

</html>